VUE_APP_API_BASEURL = http://172.31.251.103:8081/api/v1/
VUE_APP_API_BASEURL2 = http://172.31.251.103:8082/api/v1/
VUE_APP_API_BASEURL3 = https://iapi.shiftcdn.com/pro/yuanyang/
WS_URL=ws://172.31.251.103:8888/octopus-ping